<body>
    <div class="row">
        {{!-- EMPIEZA PRIMERA COLUMNA --}}
        <div class="col m6">
            <div class="parallax-container">
                <div class="parallax">
                        <img src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940">
                </div>
            </div>
            <div class="section transparent">
                <div class="row container">
                    <br>
                    <h1 class="header left">MUSICPAL</h1>
                </div>
            </div>
            <br><br>
            <div class="parallax-container">
                <div class="parallax"><img
                        src="https://images.pexels.com/photos/1267350/pexels-photo-1267350.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                </div>
            </div>
        </div> <!-- SE TERMINA LA PRIMERA COLUMNA-->
        <div class="col m6">
            <!--EMPIEZ LA SEGUNDA COLUMNA-->
            <nav>
                <div class="nav-wrapper  z-depth-0">
                    <!-- <a href="#" class="brand-logo"></a> -->
                    <ul id="nav-mobile" class="right hide-on-med-and-down  z-depth-0">
                        


                        <li><a href="/">Home</i>
                            </a></li>
                        <li><a href="/search">Search</a></li>
                    </ul>
                </div>
            </nav>
            {{!-- EMPIEZA EL FORMULARIO --}}
            <br><br><br>
            <div class="container containerMargin">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                            <div class="col s12">
                        <p class=addNew > Add a new post to MUSICPAL</p>
                             </div>
                    </div>
                      <div class="row">
                    <div class="input-field col s12">
                    <input id="bandName" type="text" class="validate">
                    <label class="active" for="bandName">Band Name</label>
                    </div>
                </div>
                      <div class="row">
                    <div class="input-field col s12">
                    <input id="imageLink" type="text" class="validate">
                    <label class="active" for="imageLink">Image Link</label>
                    </div>
                </div>
                        <div class="input-field col s12">

                    <select name="bandLocation" id="bandLocation">
                        <option value="" disabled selected></option>
                        <option value="Guadalajara">Guadalajara</option>
                        <option value="Monterrey">Monterrey</option>
                        <option value="Mexico City">Mexico City</option>
                    </select>
                     <label for="bandLocation">Choose your location </label>

                </div>
                <div class="input-field col s12">
                    <select name="bandVacancy"  id="bandVacancy">
                        <option value="" disabled selected></option>
                        <option value="Guitarist">Guitarist</option>
                        <option value="Vocalist">Vocalist</option>
                        <option value="Drums">Drums</option>
                        <option value="Synth">Synth</option>
                    </select>
                    <label for="bandVacancy">Choose what you are looking for</label>
                </div>
        
                <div class="input-field col s12">
                    <select  id="bandGenre">
                        <option value="" disabled selected></option>
                        <option value="Rock">Rock</option>
                        <option value="Pop">Pop</option>
                        <option value="Jazz">Jazz</option>
                    </select>
                    <label>Choose band's genre</label>
                </div>
                <div class="input-field col s12">
                    <input id="bandDescription" type="text" data-length="10" name="bandDescription">
                    <label for="bandDescription">Describe your band</label>
                </div>
                <div class="input-field col s12">
                        <input id="bandFblink" type="text" data-length="10"  name="bandFbLink">
                        <label for="bandFblink">Add a link to your Facebook</label>
                    </div>
                <button class="btn waves-effect waves-light right" id="submitBand" type="submit" name="action">POST
                    <i class="material-icons right">send</i>
                </button>
                </div>
                </div>
            </div>
             <br><br><br><br><br><br>
            <br><br><br>

            <br><br><br>
            <br><br><br>


            <!-- empieza foooter -->
            <div class="row">
                <footer class="page-footer transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5 class=".text-purple darken-4">MUSICPAL</h5>
                                <p class="grey-text text-lighten-4">Become part of your favorite bands!</p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5 class="text-purple darken-4">Links</h5>
                                <ul>
                                    <li><a class="grey-text text-purple lighten-1" href="#!">Instagram</a></li>
                                    <li><a class="grey-text text-purple lighten-1" href="#!">Facebook</a></li>
                                    <li><a class="grey-text text-purple lighten-1" href="#!">Github</a></li>
                                    <li><a class="grey-text text-purple lighten-1" href="#!">Heroku</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            © 2019 Copyright
                            <a class="grey-text text-lighten-4 right" href="#!">HerokuApp</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
            $('select').formSelect();
        });

        

    </script>
    <script src="/js/index.js"></script>

</body>   

