    <h1>This is the form to add a Band Add</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="bandName">Name of the band</label>
            <input type="text" id="bandName" class="form-control" placeholder="Band name here">
          </div>
          <div class="form-group">
            <label for="bandGenre">Genre</label>
            <select name="bandGenre"id="bandGenre">
                <option value="Rock">Rock</option>
                <option value="Jazz">Jazz</option>
                <option value="Pop">Pop</option>                                
            </select>
          </div>
          <div class="form-group">
            <label for="bandLocation">Location</label>
            <select name="bandLocation"id="bandLocation">
                <option value="CDMX">CDMX</option>
                <option value="GDL">GDL</option>
                <option value="MTY">MTY</option>                                
            </select>
          </div>
          <div class="form-group">
            <label for="bandVacancy">Vacancy</label>
            <select name="bandVacancy"id="bandVacancy">
                <option value="guitarist">Guitarist</option>
                <option value="vocalist">Vocalist</option>
                <option value="drums">Drums</option>     
                <option value="bass">Bass</option> 
               <option value="synth">Synth</option>                                                                   
            </select>
          </div>
          <div class="form-group">
              <label for="bandDescription">Describe your band</label>
              <input type="text" name="bandDescription" id="bandDescription" size="100">
          </div>
          <div class="form-group">
              <label for="bandFblink">Facebook page (url)</label>
              <input type="text" name="bandFblink" id="bandFblink" size="100e">
          </div>          
          <button id="submitBand" class="btn btn-primary float-left">Submit</button>
        </form>
        <button id="test">Butttttton</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
