nav {
  background-color: transparent !important;
  box-shadow: none!important;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size:1em!important
}

nav ul a{
  font-size: .8em!important
}
/* BODY GRADIANT */
body {
  background-image: linear-gradient(to bottom, #4a16df, #5109ad, #4a0680, #3c0957, #290b33, #1c0d28, #130b1c, #07060b, #080a0d, #0b0d0f, #0e1010, #111212);
  /* background-image: linear-gradient(to top, #fe0260, #cc1b4d, #9c203c, #6e1f2c, #431a1e, #30161e, #1d1118, #080708, #060506, #040304, #020202, #000000); */
  /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
}
.description{
  color:white!important;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em!important;
  padding-left: .6em!important;

  text-align: center
  
}
.header {
  font-family: 'Gugi', cursive;

  /* font-family: 'Chango', cursive; */
  /* color:#21E16C; */
  color: white;
  opacity: .4;
  text-align: right !important;
  font-size: 1.8rem !important;
  /* padding-left: rem; */
  text-shadow:#4a16df  6px!important



}
h1{
  font-family: 'Gugi', cursive;

  text-align: baseline!important;
  font-size: 1.5rem !important;
  opacity: .4;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  color: white;

}
.parallax{
  margin-left: -20%
}

.parallaxText {
  font-size: 2.3rem !important;
  text-align: center !important;

}

.parallax-container {
  height: 560px !important;
}

select {
  font-size: 4em !important;
  color: white !important;
}

label {
  font-size: 1em !important;
}

label.active {
  color: white !important
}

option {
  margin: 1em !important;
  color: white !important;
}
.select-wrapper input.select-dropdown:focus{
  color:white!important;
  border-bottom: 1px solid white !important;

}

span {
  background-color: white !important;
  color: #4a16df !important
}


#input_text {
  color: white !important;
  box-shadow: #5109ad !important;
  -webkit-box-shaddow: #5109ad !important;
  border-bottom-color: white !important;
  height: 10em !important;
}
.input-field{
  color:white!important;
}

.jobDescription {
  color: white !important;

}

select.wrapper {
  color: white !important;
}

/* label color */
.input-field label {
  color: white;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: white !important;

}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: white !important;
}

#submitBand {
  margin-right: 1em !important;
  background-color: white !important;
  opacity: .9;
  color: #5109ad !important
}


/* footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer{
  color:#4a16df!important;
}

/*CARLOS */
input[type="text"]:focus{
  background-color: transparent!important;
  border:none!important;
  border-bottom: 1px solid white;
  border-radius: 0;
  color:lightblue;
}

input[type="text"]{
  background-color: rgba(240,240,240,0.7);
  border:none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color:white!important
}

label{
font-size: 2em;
}
select{
  
  background-color: transparent!important;
}

li>span{
  background-color: rgba(250,250,250, 0.5)!important;
}
.containerMargin{
  border: white solid!important;
  border-width: 1px;
  padding: 3em!important;



}